menu "fengshui Configuration"

config DHT22_GPIO
    int "DHT GPIO"
	range 0 33
    default 4
    help
        Config GPIO for DHT (default 4)

config PH_METER_GPIO
    int "PH meter GPIO"
	range 0 33
    default 34
    help
        Config GPIO for PH meter (default 34)

config WIFI_SSID
	string "WiFi SSID"
	default "IMG-Staff-BYOD"
	help
		SSID (network name) to connect to.

config WIFI_PASSWORD
	string "WiFi Password"
	default "IHw1rel3ss"
	help
		WiFi password (WPA or WPA2) to use.

config SOCKET_TCP_IP
	string "TCP IP"
	default "10.80.23.122"
	help
		TCP IP of socket server

config SOCKET_PORT
	int "Socket Port"
	default 3010
	help
		Socket port to use.

config PH_METER_OFFSET
    int "PH meter offset"
    default 0
    help
        Default offset for calibration

endmenu
